<script>
  import { mask } from 'vue-the-mask';
  import { debounce } from 'debounce';
  import {
    getAll as getPeople,
    create as createPerson,
    update as updatePerson,
    remove as removePerson
  } from './../services/people';
  export default {
    directives: { mask },
    data: () => ({
      people: [],
      dialog: false,
      loading: false,
      search: '',
      headers: [
        { text: 'Código', value: 'id' },
        { text: 'Nome', value: 'name' },
        { text: 'E-mail', value: 'email' },
        { text: 'Telefone', value: 'phoneNumber' },
        { text: 'Ações', value: 'action' },
      ],
      editedIndex: -1,
      editedPerson: {},
      defaultPerson: {
        name: '',
        email: '',
        phoneNumber: '',
      },
      backendErrors: [],
    }),

    mounted () {
      this.initialize()
    },

    computed: {
      formTitle() {
        return this.editedIndex === -1 ? 'Adicionar Pessoa' : 'Editar Pessoa';
      }
    },

    watch: {
      search: debounce(function() {
        this.loadData();
      }, 500)
    },

    methods: {
      initialize () {
        this.loadData();
      },

      /**
       * Load people from api
       */
      loadData () {
        this.loading = true;
        getPeople(this.search)
          .then(result => this.people = result.data.people)
          .finally(() => this.loading = false);
      },

      /**
       * Opens modal for edit an specific person
       */
      editPerson(person) {
        this.editedIndex = this.people.indexOf(person)
        this.editedPerson = Object.assign({}, person)
        this.dialog = true
      },

      /**
       * Delete person
       */
      deletePerson(person) {
        const index = this.people.indexOf(person)
        const confirmed = confirm('Tem certeza que deseja remover o item?');

        if (!confirmed) {
          return;
        }

        removePerson(person.id).then(() => this.loadData());
      },

      /**
       * Closes dialog
       */
      close() {
        this.dialog = false;
        this.editedPerson = Object.assign({}, this.defaultPerson);
        this.editedIndex = -1;
        this.backendErrors = [];
      },

      /**
       * Saves edited person and closes dialog
       */
      async save() {
        const valid = await this.$validator.validate();

        if (!valid) {
          return;
        }

        try {
          this.loading = true;

          if (this.editedIndex === -1) {
            await createPerson(this.editedPerson);
          } else {
            await updatePerson(this.editedPerson.id, this.editedPerson);
          }

          this.loadData();
          this.close();
        } catch (err) {
          const errors = err && err.response && err.response.data && err.response.data.errors || [];
          this.backendErrors = Object.keys(errors);
        } finally {
          this.loading = false;
        }
      },

      /**
       * Check if field has errors
       */
      hasError (fieldName) {
        return this.errors.has(fieldName) || this.backendErrors.indexOf(fieldName) >= 0;
      }
    }
  }
</script>

<template>
  <v-data-table
    :headers="headers"
    :items="people"
    :loading="loading"
    class="elevation-1"
    disable-pagination
    hide-default-footer
  >
    <template v-slot:top>
      <v-toolbar flat color="white">
        <v-toolbar-title>Pessoas</v-toolbar-title>
        <v-divider
          class="mx-4"
          inset
          vertical
        ></v-divider>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Pesquisar"
          single-line
          hide-details
        ></v-text-field>
        <v-spacer></v-spacer>
        <v-dialog v-model="dialog" max-width="500px">
          <template v-slot:activator="{ on }">
            <v-btn color="primary" dark class="mb-2" v-on="on">Adicionar Pessoa</v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>
            <v-card-text>
              <v-container grid-list-md>
                <v-layout wrap>
                  <v-flex md12>
                    <v-text-field
                      v-model="editedPerson.name"
                      label="Nome"
                      min='2'
                      type='text'
                      name='name'
                      :error="hasError('name')"
                      v-validate="'required|min:2'"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 md6>
                    <v-text-field
                      v-model="editedPerson.email"
                      type='email'
                      label="E-mail"
                      name='email'
                      :error="hasError('email')"
                      v-validate="'required|email'"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 md6>
                    <v-text-field
                      v-model="editedPerson.phoneNumber"
                      v-mask="'##-#########'"
                      label="Telefone"
                      placeholder="99-999999999"
                    ></v-text-field>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="close">Cancelar</v-btn>
              <v-btn color="blue darken-1" text @click="save" :loading="loading">Salvar</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:item.action="{ item }">
      <v-icon
        small
        class="mr-2"
        @click="editPerson(item)"
      >
        mdi-pencil
      </v-icon>
      <v-icon
        small
        @click="deletePerson(item)"
      >
        mdi-delete
      </v-icon>
    </template>
  </v-data-table>
</template>
